{% extends "base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset("styles/homepage/homepage.css?v1.17") }}">
{% endblock %}

{% block body %}
    <header class="app-head" style="background-image: url('{{ asset("images/home-bg.jpg") }}')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="app-heading">
                        <h1 class="blog-title">Blog name</h1>
                        <span class="subheading">Blog desc...</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    {% for post in posts %}
                        <div class="post-preview">
                            <a class="post-data" href="">
                                <h2 class="post-title">{{ post.title }}</h2>
                                <h4 class="post-subtitle">{{ post.summary }}</h4>
                            </a>
                            <p class="post-meta">
                                Posted by
                                <a class="post-author" href="">{{ post.author.username }}</a>
                                on
                                <a class="post-date" href="">{{ post.dateCreation|date("Y:m:d H:i:s") }}</a>
                            </p>
                        </div>
                        <hr>
                    {% endfor %}
                    <div class="navigation">
                        {{ knp_pagination_render(posts) }}
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}

{% block javascripts %}
{% endblock %}
